html,
body {
	margin: 0;
	padding: 0;
}

.add_button {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	color: inherit;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

body {
	font-size: 14px;
	font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 1.4em;
	color: #4d4d4d;
	width: 550px;
	margin: 0 auto;
	background-color: #333;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.text-center {
	text-align: center;
}


#maidscontrol, #instructions {
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
	border: 1px solid #ccc;
	position: relative;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
				0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

#maidscontrol {
	margin: 130px 0 40px 0;
}

#instructions {
	margin: 10px 0;
}

#maidscontrol h1 {
	position: absolute;
	top: -85px;
	width: 100%;
	font-size: 40px;
	text-align: center;
	color: #FFF;
	/*
	-webkit-text-stroke: 1px #4d4d4d;
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-moz-text-stroke: 1px #4d4d4d;
	-ms-text-rendering: optimizeLegibility;
	-ms-text-stroke: 1px #4d4d4d;
	-o-text-rendering: optimizeLegibility;
	-o-text-stroke: 1px #4d4d4d;
	text-rendering: optimizeLegibility;
	text-stroke: 1px #4d4d4d;
	*/
}

#header {
	padding-top: 15px;
	border-radius: inherit;
}
